<html>
<head>

<title>Taxanomy Search</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
<div class="container">
        <br>
        <h1>Taxanomy Search</h1>
        <br>

    <form class="form-inline">
        <div class="form-row align-items-center">
            <div class="col-auto">
              <label class="sr-only" for="inlineFormInput">Search</label>
              <input name="q" type="" class="form-control" id="" placeholder="Enter Species Name">
            </div>

            <div class="col-auto">

            <button type="submit" class="btn btn-success btn-lg mb-2">Search</button>
        </div>

        </div>

    </form>
        
    <div>
        <h4> Search Results for "{{ query }}" </h4>
       <br>
    </div>


    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" >Taxon ID</th>
            <th scope="col">Name</th>
            <th scope="col">Rank</th>
            <th scope="col">Name Class</th>
          </tr>
        </thead>
        <tbody>
        {% for result in results %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td ><a href="{% url 'taxon_search:taxon_tree' result.taxon_id.taxon_id %}">{{result.taxon_id.taxon_id}}</a></td>
            <td>{{ result.name }}</td>
            <td>{{result.taxon_id.rank}}</td>
            <td>{{ result.name_class }}</td>
          </tr>
        {% endfor %}


        </tbody>
      </table>
      

</div>

</body>
</html>


